<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:template-part {"slug":"page-banner","tagName":"section"} /-->

<!-- wp:group {"tagName":"main","layout":{"wideSize":"","contentSize":""},"style":{"spacing":{"padding":{"top":"100px","bottom":"100px"}}}} -->
<main class="wp-block-group" style="padding-top:100px;padding-bottom:100px"><!-- wp:post-content {"layout":{"wideSize":"","contentSize":""}} /-->

</main>
<!-- /wp:group -->
    
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->