<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"exclusive_theme/banner"} /-->
<!-- wp:pattern {"slug":"exclusive_theme/info-boxes"} /-->
<!-- wp:pattern {"slug":"exclusive_theme/about-info"} /-->
<!-- wp:pattern {"slug":"exclusive_theme/service-section"} /-->
<!-- wp:pattern {"slug":"exclusive_theme/team-section"} /-->
<!-- wp:pattern {"slug":"exclusive_theme/call-to-action"} /-->
<!-- wp:pattern {"slug":"exclusive_theme/faq-section"} /-->
<!-- wp:pattern {"slug":"exclusive_theme/testimonials-section"} /-->
<!-- wp:pattern {"slug":"exclusive_theme/google-map"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->