<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:template-part {"slug":"page-banner","tagName":"section"} /-->

<!-- wp:group {"tagName":"main","layout":{"wideSize":"1170px","contentSize":"1170px"},"style":{"spacing":{"padding":{"top":"100px","bottom":"100px"}}}} -->
<main class="wp-block-group" style="padding-top:100px;padding-bottom:100px"><!-- wp:post-content {"layout":{"wideSize":"1170px","contentSize":"1170px"}} /-->

    <!-- wp:group {"layout":{"wideSize":"1170px","contentSize":"1170px"}} -->
    <div class="wp-block-group"><!-- wp:post-comments /--></div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->